
<PageTitle>@(Description + " | " + Title + " | Reclamos Casas Prefabridas")</PageTitle>

<HeadContent>
    <meta name="description" content="@Description">
</HeadContent>

<h1>Reclamos Casas Prefabricadas</h1>

<p>
    En esta plataforma queremos reunir y hacer públicos todos los reclamos en contra de empresa o particulares que ofrecen sus servicios de construcción y no cumplen con lo pactado.
</p>

<p>
    Además, tenemos la ley 19.496 que permite al consumidor interponer una querella en el juzgado de policía local de forma completamente gratuita en contra del proveedor que no cumpliese con la entrega del producto, además de exigir una indemnización por los perjuicios que esa infracción le causó.
</p>

<p>
    En los siguienten enlaces puede obtener más información acerca de la ley 19.496 pro consumidor.
</p>

<div class="row"> 
    <div class="col-12">

            <a target="_blank" class="font-weight-bold link-dark" href="https://www.chileatiende.gob.cl/fichas/101961-ley-pro-consumidor"><Badge Color="Color.Success">Ley pro consumidor</Badge></a>
            
    </div>
        <div class="col-12">

            <a target="_blank" class="font-weight-bold link-dark" href="https://www.sernac.cl/portal/618/w3-propertyvalue-21060.html"><Badge Color="Color.Success">Denuncia de Interés Individual en el Juzgado de Policía Local</Badge></a>

        </div>
</div>


<SurveyPrompt Title="Ha tenido algún problema con la construcción de tu hogar?" />
